<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>MadLibs</h1>
    <p>Fill out the following forms</p>
    <form class="jumbotron" action="/output" method="post">
     <label for="noun">Enter A noun:</label>
     <input id="noun" name="noun" type="text">
     <label for="adjective">Enter an Adjective:</label>
     <input id="adjective" name="adjective" type="text">
     <button type="submit">Get your madlib</button>
    </form>
  </body>
</html>