<!DOCTYPE html>
<html>
    <head>
    <title>MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p>Your @Model.Adjective @Model.Noun</p>
  </body>
</html>